.hero {
  position: relative;
}
.hero h3 {
  font-weight: 100;
  letter-spacing: 2px;
}
.hero h1 {
  font-size: 60px;
  font-weight: bold;
}

.hero h1 span {
  color: #ff014f;
}
.hero h2 {
  font-size: 50px;
  font-weight: bold;
  color: #ff014f;
}
.hero h2 span {
  color: black;
}
.hero p {
  color: #878e99;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}
.hero_btn {
  margin-top: 20%;
}
.hero_btn h4 {
  font-weight: 500;
  letter-spacing: 2px;
  color: #43474b;
  font-size: 15px;
  margin: 30px 0 30px 0;
}
.hero_btn button {
  margin-right: 30px;
}
.hero_btn i {
  font-size: 20px;
}

.hero_btn button img {
  width: 20px;
  height: 20px;
}
.hero .left {
  margin-right: 10%;
}
.hero .right {
  width: 40%;
  position: relative;
}

.hero .right_img img {
  position: absolute;
  top: 0;
  right: 10%;
  width: 510px;
  margin-top: 6rem;
}
@media (max-width: 768px)  {
  .hero .right,
  .hero .left {
    width: 100%;
    margin-left: 20px;
  }

  .hero .f_flex {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .hero .right_img {
    width: 100%;
    height: 54vh;
  }
  .hero {
    position: relative;
    margin-top: 8rem;
  }
  .hero h3 {
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 15rem;
  }
  .hero h1 {
    font-size: 60px;
    font-weight: bold;
  }
  
  .hero h1 span {
    color: #ff014f;
  }
  .hero h2 {
    font-size: 50px;
    font-weight: bold;
    color: #ff014f;
  }
  .hero h2 span {
    color: black;
  }
  .hero p {
    color: #878e99;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
  }
  

  .hero .right_img img {
    position: center;
    top: -12%;
    right: 0%;
    width: 400px;
    height: auto;
    margin: auto;

  }
}
@media screen and (max-width: 468px){
  .hero .right_img img {
    position: relative;
    top: -5rem;
    left: 2rem;
    width: 18rem;
    height: auto;
    margin: auto;
    border-radius: 2rem;

  }
  .hero {
    position: relative;
  
  }
  .hero h3 {
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: -15rem;
  }
  .hero h1 {
    font-size: 30px;
    font-weight: bold;
  }
  
  .hero h1 span {
    color: #ff014f;
  }
  .hero h2 {
    font-size: 25px;
    font-weight: bold;
    color: #ff014f;
  }
  .hero h2 span {
    color: black;
  }
  .hero p {
    color: #878e99;
    font-size: 15px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    
  }
  .hero_btn button {
    margin-right: 39px;
    margin: 1rem;
    
  }
  

}
@media screen and (max-width: 368px) {
  .hero .right,
  .hero .left {
    width: 100%;
    margin-left: 20px;
  }

  .hero .f_flex {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .hero {
    position: relative;
    
  }
  .hero h3 {
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: -14rem;
  }
  .hero h1 {
    font-size: 25px;
    font-weight: bold;
  }
  
  .hero h1 span {
    color: #ff014f;
  }
  .hero h2 {
    font-size: 25px;
    font-weight: bold;
    color: #ff014f;
  }
  .hero h2 span {
    color: black;
  }
  .hero p {
    color: #878e99;
    font-size: 14px;
    line-height: 30px;
    margin-top: 30px;

    
    text-align: center;
    
  }
  

  .hero .right_img img {
    position: center;
    top: -5rem;
    left: -1rem;
    width: 16rem;
    height: auto;
    margin: auto;
    border-radius: 2rem;
    
  }
}